*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lobster',cursive;
}
.Wrapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    background-color: #ddd;
}
.row{
    width: 100%;
    padding: 50px 100px;
}
.image-section{
    width: 33%;
    float: left;
}
.image-section img{
    width: 100%;
    margin-top: 55px;
}
button{
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.content h1{
    font-size: 90px;
    letter-spacing: 3.5px;
    margin-bottom: 20px;
    color: #222;
}
.content h2{
    font-style: 40px;
    font-family: sans-serif;
    color:#b60112;
    margin-top: 25px;
}
.content ul{
    font-size: 20px;
    font-family: serif;
    margin-top:  15px;
    line-height:  1.5;
}

@media screen and (max-width: 768px){
.image-section{
    width:100%
    float: none;
}
.content{
    width: 100%;
    float: none;
    margin-left: 0px;
}
.content h1{
    font-size: 60px;
    letter-spacing: 2px;
    margin-bottom: 20%;
}
.content h2{
    font-style: 30px;
}
.content ul{
    font-size: 18px;
}  
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lobster',cursive;
}
.rapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.raw{
    width: 100%;
    padding: 50px 100px;
}
button{
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-tection{
    width: 33%;
    float: right;
}
.image-tection img{
    width: 100%;
    height: auto;
}
.montent{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.montent h1{
    font-style: 40px;
    font-family: sans-serif;
    color:#b60112;
    margin-top: 25px;
}
.montent ul{
    font-size: 20px;
    font-family: serif;
    margin-top:  10px;
    line-height:  1.5;
}
@media screen and (max-width: 768px){
.image-tection{
    width:100%
    float: none;
}
.montent{
    width: 100%;
    float: none;
    margin-left: 0px;
}
.montent h1{
    font-style: 30px;
}
.montent {ul
    font-size: 18px;
}
}

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Lobster',cursive;
}
.crapper{
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
.cow{
    width: 100%;
    padding: 50px 100px;
}
button{
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.image-aection{
    width: 33%;
    float: left;
}
.image-aection img{
    width: 100%;
    margin-top: 40px;
}
.iontent{
    width: 60%;
    float: left;
    margin-left: 50px;
}
.iontent h1{
    font-style: 40px;
    font-family: sans-serif;
    color:#b60112;
    margin-top: 25px;
}
.iontent ul{
    font-size: 20px;
    font-family: serif;
    margin-top:  15px;
    line-height:  1.5;
}

@media screen and (max-width: 768px){
.image-aection{
    width:100%
    float: none;
}
.iontent{
    width: 100%;
    float: none;
    margin-left: 0px;
}
.iontent h1{
    font-style: 30px;
}
.iontent ul{
    font-size: 18px;
}  
}